body, html {
  height: 100%;
  font-family: "Didot", "Times New Roman", serif; /* Fallback fonts for better compatibility */
  font-weight: 500; /* Medium thickness */
  font-size: 18px; /* Adjust for readability */
  line-height: 1.6; /* Improves text clarity */
  color: #764e37; /* Better contrast (not pure black) */
  background-color: rgb(255, 235, 192); /* Light background to reduce eye strain */

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (steve.jpeg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("GalaxyHeadImage.jpg");

  /* Set a specific height */
  height: 100vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 235, 192);
}

  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

.hover:hover .img-responsive {
  opacity: 0.3;
}

.hover:hover .img {
  opacity: 0.3;
}


.bg-b {
  background: #2d2d30;
  color: rgb(255, 235, 192);
}
.bg-w h3 {color: #fff;}
.bg-w p {color: #fff;}

.bg-w {
  background: #fff;
  color: #2d2d30;
}
.bg-w h3 {color: #2d2d30;}
.bg-w p {color: #2d2d30;}
}
